
@{
    ViewBag.Title = "DetailsIndex";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Content/MVCFeedback.js"></script>

<h2>DetailsIndex</h2>

<input type="hidden" value="@ViewBag.Id" id="txthdn" />
<div class="container">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-6">
                <label><b>First_Name:-</b></label>
                <span id="txtName"></span>
            </div>
            <div class="col-sm-6">
                <label><b>Last_Name:-</b></label>
                <span id="txtLname"></span>
            </div>
            <div class="col-sm-6">
                <label><b>Age:-</b></label>
                <span id="txtAge"></span>
            </div>
            <div class="col-sm-6">
                <label><b>Email_id:-</b></label>
                <span id="txtEmail"></span>
            </div>
            <div class="col-sm-6">
                <label><b>Address:-</b></label>
                <span id="txtAdd"></span>
            </div>

        </div>

    </div>

</div>
